<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="main.css">
</head>
<div class="div">
    <form class="form">
        <h1>Produto</h1>
        <label for="nome">Nome do Produto</label>
        <input type="nome" placeholder="Insira o nome do produto">
        <label for="preco">Preço do Produto</label>
        <input type="preco" placeholder="Insira o preço do produto">
        <label for="id">Quantia de Produto</label>
        <input type="id" placeholder="Insira a quantidade de produtos">
        <input type="submit" value="Cadastrar" class="btn" />
    </form>
    <button onclick="location.href='home.html'" class="btnhome">Voltar para a página inicial</button>

</html>

