<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="main.css">
</head>

<div class="div">
    <form class="form">
        <h1>Usuário</h1>
        <label for="nome">Nome</label>
        <input type="nome" placeholder="Insira o nome do Usuário">
        <label for="cargo">Permissão</label>
        <input type="cargo" placeholder="Insira a permissão do Usuário">
        <label for="email">E-mail</label>
        <input type="email" placeholder="Insira o E-mail do Usuário">
        <label for="password">Senha</label>
        <input type="password" placeholder="Insira o E-mail do Usuário">
        <input type="submit" value="Cadastrar" class="btn" />
    </form>
    <button onclick="location.href='home.html'" class="btnhome">Voltar para a página inicial</button>
</div>
</html>

