<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="main.css">
</head>

<div class="divhome">
    <button onclick="location.href='cadastro_usuario.html'" class="btn">Cadastro de Usuários</button>
    <button onclick="location.href='listar_usuario.html'" class="btn">Lista de Usuários</button>
    <button onclick="location.href='editar_usuario.html'" class="btn">Editar Usuários</button>
    <button onclick="location.href='cadastro_produto.html'" class="btn">Cadastro de Produtos</button>
    <button onclick="location.href='listar_produtos.html'" class="btn">Lista de Produtos</button>
    <button onclick="location.href='editar_produtos.html'" class="btn">Editar Produtos</button>
</div>

</html>