<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="main.css">
</head>

<div class="div">
    <form class="form">
        <h1>Produtos</h1>
        <label for="produto">Produtos</label>
        <p>Perfume, R$90,00, 24Qtd</p>
        <p>Blush, R$61,99, 5Qtd</p>
        <p>Batom, R$45,45, 1Qtd</p>
        <p>Corretivo, R$29.99, 400Qtd</p>
        <input type="button" onclick="location.href='editar_produtos.html'" value="Editar" class="btn" />
        <input type="submit" value="Excluir" class="btn" />
    </form>
    <button onclick="location.href='home.html'" class="btnhome">Voltar para a página inicial</button>
</div>


</html>