<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="main.css">
</head>

<div class="div">
    <form class="form">
        <h1>Usuários</h1>
    
        <label for="nome">Lista de Usuários</label>
        <p>Faustino</p>
        <p>Vanessa</p>
        <p>Luana</p>
        <input type="button" onclick="location.href='editar_usuario.html'" value="Editar" class="btn" />
        <input type="submit" value="Excluir" class="btn" />
    </form>
    <button onclick="location.href='home.html'" class="btnhome">Voltar para a página inicial</button> 
</div>

</html>