body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-image:url("images/folhas.jpg");
    background-size: cover;
}

.nav {
    position: fixed;
    top: 0%;
    background-color: #000000;
    width: 100%;
    height: 10%;
    align-content: center;
    align-items: center;
}

.nav ul {
    align-items: center;
    align-content: center;
    margin: auto;
}

.nav li {
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    color: #fff;
    display: inline;
  }


.nav a {
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: auto;
  }

.div{
    margin-top: 10vh;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 80px;
    gap: 10px;
    border-radius: 10px;
}  

.form h1 {
    padding: 20px;
    font-weight:bolder;
    border-radius: 10PX;
    margin: 0;
    margin-bottom: 10%;
    font-weight: 5000;
    font-size: 2.3em;
}


.form input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #7c7c7c;
    margin-bottom: 20px;
    margin-top: 5px;
    outline: none;
    border-radius: 10px;
}


.form input:focus {
    border: 2px solid #333b39;
}

.form label {
    font-size: 14px;
    font-weight: 600;
}


.btn {
    background-image:url("images/padrão.jpg");
    font-weight:bolder;
    color: #fff;
    cursor: pointer;
    margin: 0;
    border-radius: 10px;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #434343;
}